@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, select, textarea, p, blockquote, th, td, address {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  font-size: 0px;
  line-height: 0px;
  border: 0;
}

fieldset {
  border: 0;
}

textarea {
  resize: none;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h5, h6 {
  font-size: 100%;
}

em {
  font-style: italic;
}

body {
  font-size: 13px;
  font: 13px "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  *font-size: small;
  *font: x-small;
  line-height: 1.6em;
}

a,
a:link {
  color: #008822;
  text-decoration: none;
}

a:active,
a:hover,
a:focus {
  color: #23A30E;
  text-decoration: underline;
}

.structure {
  width: 900px;
  margin: 0 auto;
}

#header {
  padding: 10px;
  background: black;
}
#header:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#header h1 {
  float: left;
  color: gray;
  font-size: 30px;
}
#header ul {
  float: right;
}
#header ul li {
  float: left;
  padding: 0 10px;
  font-size: 15px;
}

#content {
  padding: 15px 0;
}
#content:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#content ul li,
#content ul li img {
  line-height: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
}
#content h2 {
  font-size: 26px;
  line-height: 1.5em;
}
#content #main {
  float: left;
  width: 600px;
}
#content #sub {
  float: right;
  width: 280px;
}